.blog {
  padding-top: 35px;
  text-align: center;
}
.blog h2 {
  text-transform: uppercase;
  font-size: 44px;
  width: 450px;
  max-width: 80%;
  line-height: 1;
}
.blog span {
  display: block;
  font-family: Arial-bold;
}
.blog p {
  width: 85%;
  font-size: 18px;
}
.blog-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fdf4f7;
  padding: 35px 0;
}
.blog-article h5 {
  font-family: Arial-bold;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 18px;
}
.blog-article p {
  font-size: 20px;
}
.blog-img {
  height: 600px;
  width: 80%;
  background: #9a9a9a;
}
.blog-article p:nth-of-type() {
  display: none;
}
@media (min-width: 500px) {
  .blog h2 {
    font-size: 64px;
  }
  .blog p {
    font-size: 22px;
  }
  .blog-article p {
    font-size: 28px;
  }
}
@media (min-width: 1024px) {
  .blog-img {
    order: -1;
    height: 405px;
    width: 380px;
    margin-left: 35px;
  }
  .blog-article {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    height: 475px;
    width: 100%;
    max-width: 825px;
  }
  .blog-article h5 {
    font-size: 18px;
  }
  .blog-article p:first-of-type {
    display: none;
  }
  .blog-article p:nth-of-type(2) {
    display: block;
    text-align: left;
    width: 30%;
    line-height: 1.5;
    font-size: 14px;
    font-family: Arial-bold;
    color: #191516;
  }
  .blog-article .btn {
    background: none;
    font-size: 16px;
    min-height: 40px;
    width: 215px;
    border-width: 2px;
  }
}
